In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("T1.csv")

In [4]:
df[['dd', 'mm', 'yyyy', 'time']] = df['Date_Time'].str.split(' ', expand=True)
df["date"] = pd.to_datetime(df["yyyy"] + "-" + df["mm"] + "-" + df["dd"])

KeyError: 'Date_Time'

In [5]:
df.head()

,Date_Time,LV_ActivePower_kW,WindSpeed_m_per_s,Theoretical_Power_Curve_kilowatt_hour,Wind_Direction_degree,dd,mm,yyyy,time,date
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904,01,01,2018,00:00,2018-01-01
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113,01,01,2018,00:10,2018-01-01
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789,01,01,2018,00:20,2018-01-01
3,01 01 2018 00:30,419.645904,5.659674,516.127569,271.258087,01,01,2018,00:30,2018-01-01
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286,01,01,2018,00:40,2018-01-01

In [46]:
df.iloc[0, 2]

5.31133604

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date_Time                              50530 non-null  object
 1   LV_ActivePower_kW                      50530 non-null  float64
 2   WindSpeed_m_per_s                      50530 non-null  float64
 3   Theoretical_Power_Curve_kilowatt_hour  50530 non-null  float64
 4   Wind_Direction_degree                  50530 non-null  float64
 5   dd                                     50530 non-null  object
 6   mm                                     50530 non-null  object
 7   yyyy                                   50530 non-null  object
 8   time                                   50530 non-null  object
 9   date                                   50530 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(5)
memory usage: 3.9+ MB

In [18]:
df[['dd', 'mm', 'yyyy', 'time']] = df['Date_Time'].str.split(' ', expand=True)
df[['hour', 'minutes']] = df['time'].str.split(':', expand=True)

df['date'] = pd.to_datetime(
    df["yyyy"] + "-" + df["mm"] + "-" + df["dd"]).astype(object)
df[['dd', 'mm', 'yyyy', 'hour', 'minutes']] = df[[
    'dd', 'mm', 'yyyy', 'hour', 'minutes']].astype('int64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 12 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date_Time                              50530 non-null  object
 1   LV_ActivePower_kW                      50530 non-null  float64
 2   WindSpeed_m_per_s                      50530 non-null  float64
 3   Theoretical_Power_Curve_kilowatt_hour  50530 non-null  float64
 4   Wind_Direction_degree                  50530 non-null  float64
 5   dd                                     50530 non-null  int64
 6   mm                                     50530 non-null  int64
 7   yyyy                                   50530 non-null  int64
 8   time                                   50530 non-null  object
 9   date                                   50530 non-null  object
 10  hour                                   50530 non-null  int64
 11  minutes                                50530 non-null  int64
dtypes: float64(4), int64(5), object(3)
memory usage: 4.6+ MB

In [2]:
dataset = pd.read_csv('../data.csv', encoding='unicode_escape')

In [3]:
dataset.head()

,Unnamed: 0,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),dd,mm,yyy,hour,minutes,date,time
0,0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904,1,1,2018,0,0,01-01-2018,00:00
1,1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113,1,1,2018,0,10,01-01-2018,00:10
2,2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789,1,1,2018,0,20,01-01-2018,00:20
3,3,01 01 2018 00:30,419.645904,5.659674,516.127569,271.258087,1,1,2018,0,30,01-01-2018,00:30
4,4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286,1,1,2018,0,40,01-01-2018,00:40

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     50530 non-null  int64
 1   Date/Time                      50530 non-null  object
 2   LV ActivePower (kW)            50530 non-null  float64
 3   Wind Speed (m/s)               50530 non-null  float64
 4   Theoretical_Power_Curve (KWh)  50530 non-null  float64
 5   Wind Direction (°)             50530 non-null  float64
 6   dd                             50530 non-null  int64
 7   mm                             50530 non-null  int64
 8   yyy                            50530 non-null  int64
 9   hour                           50530 non-null  int64
 10  minutes                        50530 non-null  int64
 11  date                           50530 non-null  object
 12  time                           50530 non-null  object
dtypes: float64(4), int64(6), object(3)
memory usage: 5.0+ MB

In [23]:
new_data = pd.read_csv('T1.csv')

In [24]:
new_data.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645904,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [31]:
new_data[['dd', 'mm', 'yyyy', 'time']
         ] = new_data['Date/Time'].str.split(' ', expand=True)
new_data[['hour', 'minutes']] = new_data['time'].str.split(':', expand=True)

new_data['date'] = pd.to_datetime(
    new_data["yyyy"] + "-" + new_data["mm"] + "-" + new_data["dd"]).astype(object)
new_data[['dd', 'mm', 'yyyy', 'hour', 'minutes']] = new_data[[
    'dd', 'mm', 'yyyy', 'hour', 'minutes']].astype('int64')

In [33]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date/Time                      50530 non-null  object
 1   LV ActivePower (kW)            50530 non-null  float64
 2   Wind Speed (m/s)               50530 non-null  float64
 3   Theoretical_Power_Curve (KWh)  50530 non-null  float64
 4   Wind Direction (°)             50530 non-null  float64
 5   dd                             50530 non-null  int64
 6   mm                             50530 non-null  int64
 7   yyyy                           50530 non-null  int64
 8   time                           50530 non-null  object
 9   hour                           50530 non-null  int64
 10  minutes                        50530 non-null  int64
 11  date                           50530 non-null  object
dtypes: float64(4), int64(5), object(3)
memory usage: 4.6+ MB