In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/wind-data.csv")

In [3]:
df[['dd', 'mm', 'yyyy', 'time']] = df['Date/Time'].str.split(' ', expand=True)
df["date"] = pd.to_datetime(df["yyyy"] + "-" + df["mm"] + "-" + df["dd"])

In [4]:
df.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),dd,mm,yyyy,time,date
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904,01,01,2018,00:00,2018-01-01
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113,01,01,2018,00:10,2018-01-01
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789,01,01,2018,00:20,2018-01-01
3,01 01 2018 00:30,419.645904,5.659674,516.127569,271.258087,01,01,2018,00:30,2018-01-01
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286,01,01,2018,00:40,2018-01-01

In [5]:
df.iloc[0, 2]

np.float64(5.31133604)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date/Time                      50530 non-null  object
 1   LV ActivePower (kW)            50530 non-null  float64
 2   Wind Speed (m/s)               50530 non-null  float64
 3   Theoretical_Power_Curve (KWh)  50530 non-null  float64
 4   Wind Direction (°)             50530 non-null  float64
 5   dd                             50530 non-null  object
 6   mm                             50530 non-null  object
 7   yyyy                           50530 non-null  object
 8   time                           50530 non-null  object
 9   date                           50530 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(5)
memory usage: 3.9+ MB

In [7]:
df[['dd', 'mm', 'yyyy', 'time']] = df['Date/Time'].str.split(' ', expand=True)
df[['hour', 'minutes']] = df['time'].str.split(':', expand=True)

df['date'] = pd.to_datetime(
    df["yyyy"] + "-" + df["mm"] + "-" + df["dd"]).astype(object)
df[['dd', 'mm', 'yyyy', 'hour', 'minutes']] = df[[
    'dd', 'mm', 'yyyy', 'hour', 'minutes']].astype('int64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date/Time                      50530 non-null  object
 1   LV ActivePower (kW)            50530 non-null  float64
 2   Wind Speed (m/s)               50530 non-null  float64
 3   Theoretical_Power_Curve (KWh)  50530 non-null  float64
 4   Wind Direction (°)             50530 non-null  float64
 5   dd                             50530 non-null  int64
 6   mm                             50530 non-null  int64
 7   yyyy                           50530 non-null  int64
 8   time                           50530 non-null  object
 9   date                           50530 non-null  object
 10  hour                           50530 non-null  int64
 11  minutes                        50530 non-null  int64
dtypes: float64(4), int64(5), object(3)
memory usage: 4.6+ MB

In [8]:
df.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),dd,mm,yyyy,time,date,hour,minutes
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904,1,1,2018,00:00,2018-01-01 00:00:00,0,0
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113,1,1,2018,00:10,2018-01-01 00:00:00,0,10
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789,1,1,2018,00:20,2018-01-01 00:00:00,0,20
3,01 01 2018 00:30,419.645904,5.659674,516.127569,271.258087,1,1,2018,00:30,2018-01-01 00:00:00,0,30
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286,1,1,2018,00:40,2018-01-01 00:00:00,0,40